<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/v1.9.1.css" type="text/css" />
  </head>
  <body>
    <!--v1.9.1-->
    <div class="parent">
      <div class="column"><div class="div1"></div></div>
      <div class="column"><div class="div2"></div></div>
      <div class="column"><div class="div3"></div></div>
      <div class="column"><div class="div4"></div></div>
    </div>
  </body>
</html>
