<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./display.css" type=" text/css" />

</head>

<body>
  <div class="block">
    block有独立宽高默认占据一行
  </div>
  <div class="inline">
    inline 默认不会占据一行
  </div>
  <div class="inline">
    inline 默认不会占据一行
  </div>
  <div class="inline-block">
    inline-block对内block，对外inline
  </div>
</body>

</html>