<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./flexbox.css" type=" text/css" />

</head>

<body>
  <div class="container">
    <div class="flex">
      flex
    </div>
    <div class="flex">
      flex
    </div>
    <div class="flex">
      flex
    </div>
  </div>
  <div class="container">
    <div class="left">
      定宽
    </div>
    <div class="right">
      right自适应
    </div>
  </div>
</body>

</html>