<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./float.css" type=" text/css" />

</head>

<body>
  <div class="container1">
    <span class="p1">float</span>
    <div class="p2">
      脱离文档流，但不脱离文本流； 脱离文档流，但不脱离文本流； 脱离文档流，但不脱离文本流； 脱离文档流，但不脱离文本流 脱离文档流，但不脱离文本流； 脱离文档流，但不脱离文本流； 脱离文档流，但不脱离文本流；
    </div>
  </div>
  <div class="container2">
    <span>解决高度塌陷overflow:auto</span>
    <span class="p1">float</span>
    <span class="p1">float</span>
  </div>
  <div class="container1" style="background: blue;height: 200px;">
  </div>

  <div class="container3">
    <div class='left'></div>
    <div class='right'></div>
    <div class='container'></div>
  </div>
</body>

</html>