<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./position.css" type=" text/css" />

</head>

<body>
  <div class="p1">
    static
  </div>
  <div class="p2">
    relative，偏移相对于本身位置
  </div>
  <div class="p3">
    absolute，脱离文档流，相对于容器
    偏移相对于本身容器
  </div>
  <div class="p4">
    fixed，脱离文档流，相对于可视区域
  </div>
  <div class="p5">p5</div>
</body>

</html>