<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./responseive.css" type=" text/css" />

</head>

<body>
  <div class="container">
    <div class="left">
      不重要的内容，移动端可以隐藏
    </div>
    <div class="right">
      重要的内容：第一个暴露出的问题就是哈弗茨的位置问题，在本场比赛中，兰帕德把哈弗茨放在了右边卫的位置，处在奇克和坎特之间，位于前场的韦尔纳、奇克和芒特身后，这种固定区域的战术与哈弗茨在勒沃库森和德国队的处境恰恰相反，让德国人在场上的活动范围十分有限，根本没有发挥出他在进攻中的作用。第二是韦尔纳和奇克的锋线搭档并非最佳选择，相反奇克缺乏跑动覆盖能力的弱点再次限制了韦尔纳和哈弗茨的发挥，在两人之间不仅没有起到润滑作用，反而造成两个边路在阵地战中陷入低效，只能依靠边后卫来解决问题，如果不是詹姆斯远射打破僵局，仍依靠奇克和韦尔纳的组合，切尔西恐怕难以如愿。
    </div>
  </div>
</body>

</html>