.container {
  width: 80px;
  height: 80px;
  background: red;
  transition: 1s width 1s, 1s height 1s, 1s background 1s;
  transition-timing-function: ease-in-out;
}

.container:hover {
  width: 200px;
  height: 200px;
  background: yellow;
}