<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./css/v1.8.1.css" type="text/css" /> -->
    <link rel="stylesheet" href="./css/v1.8.2.css" type="text/css" />
  </head>
  <body>
    <!--v1.8.1
    <div class="parent">
      <div class="left">left</div>
      <div class="right">
        rightrightrightrightright rightrightrightrightrightri
        ghtrightrightrightrightrightright rightrightrightrightrightrightright
        rightrightrightrightrightrightrig htrightrightrightright
      </div>
    </div>-->
    <!--v1.8.2-->
    <div class="parent">
      <div class="left">left</div>
      <div class="right">
        rightrightrightrightright rightrightrightrightrightri
        ghtrightrightrightrightrightright rightrightrightrightrightrightright
        rightrightrightrightrightrightrig htrightrightrightright
      </div>
    </div>
  </body>
</html>
