.parent {
  /*css3 相关属性
  column-count: 4;
  column-width: 300px;*/
  /*简写方式*/
  columns: 4 300px;
}

.column {
  height: 300px;
}
.div1 {
  height: 300px;
  background: greenyellow;
}
.div2 {
  height: 300px;
  background: blueviolet;
}
.div3 {
  height: 300px;
  background: floralwhite;
}
.div4 {
  height: 300px;
  background: brown;
}
